body {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin: 80px 100px 0px;
    border: 2px solid rgb(158, 119, 80);
    gap: 10px;
    padding: 10px;
}

.container > header {
    grid-column: 2 ;
    grid-row: 1;
    border: 2px solid rgb(158, 119, 80);
    padding: 10px;
    text-align: center;
    letter-spacing: 1em;
    word-spacing: 0.5em;
}

.container > .msg-box {
    grid-column: 2;
    grid-row: 2;
    border: 2px solid rgb(158, 119, 80);
    padding: 10px;
    letter-spacing: 0.2em;
}

.msg-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.msg-box-icon {
    /* align-self: last baseline; */
    justify-self: stretch;
    flex-basis: 100px;
}

.msg-box-icon:hover {
    transform: scale(1.5);
    transition: transform 0.5s ease-out;
}

.msg-box-icon svg {
    transform: scale(2);
}

.msg-box-icon svg:hover {
    filter: drop-shadow(3px 7px 4px rgba(255, 223, 40, 2));
}

.container > .profile-info {
    grid-column: 2;
    grid-row: 3;
    border: 2px solid rgb(158, 119, 80);
    padding: 10px;
    position: relative;
    /* box-shadow: 4px 5px 3px 4px rgba(68, 234, 53, 0.5); */
    /* display: grid;
    grid-template-columns: subgrid; */

}

.profile-info-anim {
    animation: profile-info-keyframe-anim 1s ease-out 0s infinite alternate none;
}

.profile-info-text {
    position: absolute;
    top: 10px;
    visibility: hidden;
    display: grid;
    justify-self: center;
}

.pinfo-header {
    text-align: center;
    letter-spacing: 0.2em;
}

.container > .profile-info-menu {
    grid-column: 3;
    grid-row: 3;
    border: 2px solid rgb(158, 119, 80);
    padding: 10px;
}

.profile-info-menu > ul{
    list-style-type: none;
}

.profile-info-menu > ul > li {
    cursor: pointer;
}

.text-float-anim {
    animation: text-float-frame 1s ease-out 0s infinite alternate-reverse none;
}

.pinfo-content > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-left: 0px;
    /* align-items: center; */
}

.pinfo-content > ul li {
    border: 2px solid rgb(158, 119, 80);
    border-radius: 2px;
    margin-bottom: 10px;
    /* align-self: center; */
    text-align: center;
    text-decoration: none;
}

.pinfo-content > ul li a {
    text-decoration: none;
    color: black;
}

.social-media-icon > img{
    margin-top: 15px;
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.pinfo-content > ul li:hover {
    animation: social-media-frame 1.4s ease-out 0s infinite alternate none;
}

@keyframes social-media-frame {
    0% {

    }
    100% {
        box-shadow: 5px 5px 5px 0px rgba(68, 234, 53, 0.4) ;
        transform: translateY(-10px)
            scale(1.05)
        ;
    }
}

@keyframes profile-info-keyframe-anim {
    0% {

    }
    100% {
        box-shadow: 5px 5px 5px 0px rgba(68, 234, 53, 0.4) ;
        transform: translateY(-10px);
    }
}

@keyframes text-float-frame {
    0% {

    }
    100% {
        text-shadow: 2px 3px 3px rgba(120, 80, 90, 1);
        transform: translateY(-7px);
    }
}